<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <div id="result"></div>
    <br>
    <button id="test" type="button" class="btn btn-default">Search Documents</button>
    <script>
    $( '#test' ).on( 'click', function() {
    $.getScript( 'https://apis.google.com/js/api.js?onload=loadPicker', function( data, textStatus, jqxhr ) {} );
    } );
    </script>

  <div class="container">
    <div class="jumbotron">
      <h1>Week One</h1>   
      <a href="https://drive.google.com/file/d/0B8ZUWcJkl_npRGpLVnJfY2tvMjQ/view?usp=sharing" target="_blank"><button type="button" class="btn btn-primary">Ruby Syntax</button></a>
      <button type="button" class="btn btn-primary">Boolean Logic</button>
      <button type="button" class="btn btn-primary">Ruby Variables</button>
      <button type="button" class="btn btn-primary">Methods and TDD, Part 1</button>
      <button type="button" class="btn btn-primary">Methods and TDD, Part 2</button>   
    </div>
  </div>

  <div class="container">
    <div class="jumbotron">
      <h1>Week Two</h1>
      <a href="https://drive.google.com/file/d/0B8ZUWcJkl_npRGpLVnJfY2tvMjQ/view?usp=sharing" target="_blank"><button type="button" class="btn btn-primary">Classes and OOP, Part 1</button></a>
      <button type="button" class="btn btn-primary">Classes and OOP, Part 2</button>
      <button type="button" class="btn btn-primary">Ruby Errors</button>
      <button type="button" class="btn btn-primary">Command Line</button>
      <button type="button" class="btn btn-primary">Git</button>    
    </div>
  </div>  

  <div class="container">
    <div class="jumbotron">
      <h1>Week Three</h1>
      <a href="https://drive.google.com/file/d/0B8ZUWcJkl_npRGpLVnJfY2tvMjQ/view?usp=sharing" target="_blank"><button type="button" class="btn btn-primary">Github</button></a>
      <button type="button" class="btn btn-primary">Ruby Web Clients</button>
      <button type="button" class="btn btn-primary">Ruby Web Servers</button>
      <button type="button" class="btn btn-primary">HTML</button>
      <button type="button" class="btn btn-primary">CSS</button>       
    </div>
  </div>  

  <div class="container">
    <div class="jumbotron">
      <h1>Week Four</h1>
      <a href="https://drive.google.com/file/d/0B8ZUWcJkl_npRGpLVnJfY2tvMjQ/view?usp=sharing" target="_blank"><button type="button" class="btn btn-primary">JavaScript 1</button></a>
      <button type="button" class="btn btn-primary">JavaScript 2</button>
      <button type="button" class="btn btn-primary">jQuery and AJAX</button>
      <button type="button" class="btn btn-primary">Introduction to Rails</button>
      <button type="button" class="btn btn-primary">Scaffolding</button>     
    </div>
  </div>

    <div class="container">
    <div class="jumbotron">
      <h1>Week Five</h1>
      <a href="https://drive.google.com/file/d/0B8ZUWcJkl_npRGpLVnJfY2tvMjQ/view?usp=sharing" target="_blank"><button type="button" class="btn btn-primary">Rails Models 2</button></a>
      <button type="button" class="btn btn-primary">Rails Models 3</button>
      <button type="button" class="btn btn-primary">Rails Models 4</button>
      <button type="button" class="btn btn-primary">Rails Twitter Clone</button>
      <button type="button" class="btn btn-primary">Rails Views 1</button>       
    </div>
  </div>  

    <div class="container">
    <div class="jumbotron">
      <h1>Week Six</h1>
      <a href="https://drive.google.com/file/d/0B8ZUWcJkl_npRGpLVnJfY2tvMjQ/view?usp=sharing" target="_blank"><button type="button" class="btn btn-primary">Rails Views 2</button></a>
      <button type="button" class="btn btn-primary">Rails Controllers 1</button>
      <button type="button" class="btn btn-primary">Rails Controllers 2</button>
      <button type="button" class="btn btn-primary">Git 2</button>
      <button type="button" class="btn btn-primary">Lean Startup</button>       
    </div>
  </div>  

    <div class="container">
    <div class="jumbotron">
      <h1>Week Seven</h1>
      <a href="https://drive.google.com/file/d/0B8ZUWcJkl_npRGpLVnJfY2tvMjQ/view?usp=sharing" target="_blank"><button type="button" class="btn btn-primary">Advanced Command Line</button></a>
      <button type="button" class="btn btn-primary">ActiveRecord Queries</button>
      <button type="button" class="btn btn-primary">Rails Security</button>
      <button type="button" class="btn btn-primary">Rails Testing 1</button>
      <button type="button" class="btn btn-primary">Rails Testing 2</button>     
    </div>
  </div>  

    <div class="container">
    <div class="jumbotron">
      <h1>Week Eight</h1>
      <a href="https://drive.google.com/file/d/0B8ZUWcJkl_npRGpLVnJfY2tvMjQ/view?usp=sharing" target="_blank"><button type="button" class="btn btn-primary">Rails Performance</button></a>
      <button type="button" class="btn btn-primary">Nested Resources</button>
      <button type="button" class="btn btn-primary">Rails Miscellaneous</button>
      <button type="button" class="btn btn-primary">Methods and TDD, Part 1</button>
      <button type="button" class="btn btn-primary">Methods and TDD, Part 2</button>       
    </div>
  </div>  

    <div class="container">
    <div class="jumbotron">
      <h1>Week Nine</h1>
      <a href="https://drive.google.com/file/d/0B8ZUWcJkl_npRGpLVnJfY2tvMjQ/view?usp=sharing" target="_blank"><button type="button" class="btn btn-primary">Ruby Syntax</button></a>
      <button type="button" class="btn btn-primary">Boolean Logic</button>
      <button type="button" class="btn btn-primary">Ruby Variables</button>
      <button type="button" class="btn btn-primary">Methods and TDD, Part 1</button>
      <button type="button" class="btn btn-primary">Methods and TDD, Part 2</button>      
    </div>
  </div>  

    

    <!-- The Google API Loader script. -->
    <!--<script type="text/javascript" src="https://apis.google.com/js/api.js?onload=loadPicker"></script>-->
  </body>
</html>